<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="stylesheet" href="page2.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
    <div class="top">
        <div class="top1">
            <img src="clogo.png">
        </div>
        <div class="top2">
            <p class="top21">You choose, We do it</p>
            <p class="top22">St. Joseph's College of Engineering</p>
            <p class="top23">Department of computer Science & Engineering</p>
        </div>
        <div class="top3">
            <img src="clogo1.PNG" class="top31">
        </div>
    </div>
    <div class="outer">
        <div class="nav" style="margin-bottom: 20px;height: 600px;">
            <div class="head_section">
                <img src="user.png" alt="">
                <div class="name">
                    <h3>
                        <%=username%>
                    </h3>
                </div>
            </div>
            <div class="nav_links">
                <ul>
                    <li><a href="details"><i class="fi-rr-browser"></i><span>Staff Details</span></a></li>
                    <li><a href="uploadfile"><i class="fi-rr-document-signed"></i></i><span>Upload File</span></a></li>
                    <li><a href="generatefile"><i class="fi-rr-magic-wand"></i></i><span>Generate File</span></a></li>
                    <li><a href="changepass"><i class="fi-rr-lock"></i></i><span>Change Password</span></a></li>
                    <li><a href="addexam"><i class="fi-rr-lock"></i></i><span>Add Exam</span></a></li>
                    <li><a href="addconames"><i class="fi-rr-lock"></i></i><span>Add CO Names</span></a></li>
                    <li><a href="sampleFiles"><i class="fi-rr-document-signed"></i></i><span>Sample Files</span></a></li>
                    <li><a href="logout"><i class="fi-rr-power"></i><span>Log Out</span></a></li>
                </ul>
            </div>
        </div>
        <div class="upload" style="height: 500px;">
            <h3 style="margin-left: 30%;">Sample Files</h3>
            <div style="margin-left: 40%;margin-top: 8%;">
                <div>
                    <a href="internalmark.xlsx" download="sampleinternalmark.xlsx">
                        <button
                            style="margin-bottom: -30px;margin-left: -60px;background-color: rgb(213, 213, 213);padding-bottom: 2px;padding-top: 3px;">
                            <p style="color: black; float: left;margin-top: 5px;margin-right: 5px;font-size: 15px;">
                                Internal
                                Mark Sample File</p>
                            <span class="material-symbols-outlined" style="color: black;margin-top: 3px;">download
                            </span>
                        </button>
                    </a>
                </div>
                <div style="margin-top:3%;">
                    <a href="Pos.xlsx" download="samplepos.xlsx">
                        <button
                            style="margin-bottom: -30px;margin-left: -60px;background-color: rgb(213, 213, 213);padding-bottom: 2px;padding-top: 3px;">
                            <p style="color: black; float: left;margin-top: 5px;margin-right: 5px;font-size: 15px;">Pso
                                Sample
                                File</p>
                            <span class="material-symbols-outlined" style="color: black;margin-top: 3px;">download
                            </span>
                        </button>
                    </a>
                </div>
                <div style="margin-top:3%;">
                    <a href="university.xlsx" download="sampleuniversity.xlsx">
                        <button
                            style="margin-bottom: -30px;margin-left: -60px;background-color: rgb(213, 213, 213);padding-bottom: 2px;padding-top: 3px;">
                            <p style="color: black; float: left;margin-top: 5px;margin-right: 5px;font-size: 15px;">
                                university Mark Sample
                                File</p>
                            <span class="material-symbols-outlined" style="color: black;margin-top: 3px;">download
                            </span>
                        </button>
                    </a>
                </div>
                <div style="margin-top:3%;">
                    <a href="labuniversity.xlsx" download="labsampleuniversity.xlsx">
                        <button
                            style="margin-bottom: -30px;margin-left: -60px;background-color: rgb(213, 213, 213);padding-bottom: 2px;padding-top: 3px;">
                            <p style="color: black; float: left;margin-top: 5px;margin-right: 5px;font-size: 15px;">Lab
                                university Mark
                                Sample
                                File</p>
                            <span class="material-symbols-outlined" style="color: black;margin-top: 3px;">download
                            </span>
                        </button>
                    </a>
                </div>
                <div style="margin-top:3%;">
                    <a href="labnoofexper.xlsx" download="labnoofexpersampleuniversity.xlsx">
                        <button
                            style="margin-bottom: -30px;margin-left: -60px;background-color: rgb(213, 213, 213);padding-bottom: 2px;padding-top: 3px;">
                            <p style="color: black; float: left;margin-top: 5px;margin-right: 5px;font-size: 15px;">Lab
                                No
                                of Exper
                                Sample
                                File</p>
                            <span class="material-symbols-outlined" style="color: black;margin-top: 3px;">download
                            </span>
                        </button>
                    </a>
                </div>
                <div style="margin-top:3%;">
                    <a href="targetfile.xlsx" download="targetfile.xlsx">
                        <button
                            style="margin-bottom: -30px;margin-left: -60px;background-color: rgb(213, 213, 213);padding-bottom: 2px;padding-top: 3px;">
                            <p style="color: black; float: left;margin-top: 5px;margin-right: 5px;font-size: 15px;">
                                Target File</p>
                            <span class="material-symbols-outlined"
                                style="color: black;margin-top: 3px;">download</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>